<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>202244202804-5gf718jms314qucr9qe666sj8p2qa4vi.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.202244202804-5gf718jms314qucr9qe666sj8p2qa4vi</string>
	<key>API_KEY</key>
	<string>AIzaSyAX8r-E3B7iSGZ0hOqjrnnDTpLsJ8YMnxo</string>
	<key>GCM_SENDER_ID</key>
	<string>202244202804</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.cmscomdelta.ssaol</string>
	<key>PROJECT_ID</key>
	<string>cmscomdelata</string>
	<key>STORAGE_BUCKET</key>
	<string>cmscomdelata.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:202244202804:ios:04ab41bdf0ff858ab84561</string>
</dict>
</plist>